* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

header {
  background-color: #060606;
  color: #FDFEFE;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header #titulo {
  text-align: center;
}

main {
  background-color: #F5B041;
}
main #img-compu {
  display: flex;
  justify-content: center;
  background-color: #6B17D0;
}
main h2 {
  padding-top: 10px;
  text-align: center;
}
main #seccionPrincipal div img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-color: #060606;
  border-style: solid;
}
main #seccionPrincipal div img:hover {
  width: 205px;
  height: 205px;
}
main form {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #D5D8DC;
  border-radius: 12px;
  border-color: #060606;
  border-style: solid;
  margin-left: 20%;
  border-style: solid;
  width: 60%;
}
main form div {
  margin: 10px;
}
main table {
  background-color: #D5D8DC;
  border-radius: 12px;
  border-color: #060606;
  border-style: solid;
  margin-left: 20%;
  border-style: solid;
  border-collapse: collapse;
}

footer {
  background-color: #060606;
  color: #FDFEFE;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
footer #redesSociales {
  display: flex;
  justify-content: stretch;
  padding-right: 10px;
}
footer #redesSociales img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 5px;
}

@media (max-width: 768px) {
  /* GRID AREAS*/
  header {
    grid-area: header;
  }
  #logo {
    grid-area: logo;
  }
  #titulo {
    grid-area: titulo;
  }
  /*colocando posicion de areas*/
  header {
    display: grid;
    grid-template-areas: "nav" "titulo" "logo";
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section div a, #titulo, #logo {
    margin-left: 30%;
    margin-right: 25%;
  }
  #redesSociales div {
    margin-right: 20px;
  }
  #logo img {
    height: 7vh;
  }
  table {
    width: 300px;
    padding: 0;
  }
  th, tr, td {
    padding: 0;
  }
  .caja-eliminar {
    width: 0;
  }
}
@media (min-width: 769px) {
  body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }
  section {
    display: flex;
    justify-content: space-around;
  }
  #logo img {
    height: 20vh;
  }
  #carritoCompras th, #carritoCompras tr, #carritoCompras td {
    padding: 5px;
  }
}
#carritoCompras {
  padding-top: 10px;
  padding-bottom: 10px;
}
#carritoCompras h3 {
  text-align: center;
}
#carritoCompras p {
  text-align: center;
}
#carritoCompras #btn-comprar {
  margin-left: 45%;
}
#carritoCompras .btn-carrito button {
  padding-left: 10px;
}

th, tr, td {
  border: 2px solid #060606;
  text-align: center;
}

#seccionComputadoras {
  display: flex;
  flex-wrap: wrap;
}

.cartaProducto {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #FDFEFE;
  border-radius: 12px;
  border-color: #060606;
  border-style: solid;
  margin: 10px;
  width: 200px;
  padding-top: 8px;
  padding-bottom: 5px;
}
.cartaProducto img {
  width: 150px;
  height: 150px;
}
.cartaProducto p {
  text-align: center;
}

#formulario {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*# sourceMappingURL=main.css.map */
