#carritoCompras{
    @include paddingCajas(10px, 10px);
    h3 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    #btn-comprar{
        margin-left: 45%;
    }
    .btn-carrito button{
        padding-left: 10px;
    }
}
th,tr,td{
 border: 2px solid $colorMain;
 text-align: center;
}