@mixin flexBox ($dirrecion){
    display: flex;
    flex-direction: $dirrecion; //row -column "colocar en fila o columna"
    align-items: center;
}
//mixin para el cuadro de formulario y carrito de compras
@mixin cuadros($margin){
    background-color:#D5D8DC;
    border-radius: 12px;
    border-color:$colorMain;
    border-style: solid;
    margin-left: $margin;
    margin-right: $margin;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
}

